<router-outlet></router-outlet>

<!-- <div class="container clearfix">
    
        <div class="col-md-3 red w-25 float-left"><h2>Col A</h2> khfbskbskdhlkjsndfkhasdfoasd
        fhkbaslfb;fasdffu</div>
         <div class="col-md-3 orange w-25 h-100 float-right "><h2>Col B</h2> khfbskbskdhlkjsndfkhasdfoasd</div>
       <div class="col-md-3  pink d-sm-inline-block"><h2>Col C</h2> khfbskbskdhlkjsndfkhasdfoasd
        sjnsidsd;ufhnsd;gsgujs;fg
    sdgkbjshd;gsdgsd'iogs;dogsdgo</div> 
    

</div> -->